.center-h1{
  text-align: center;
display: block;
margin: 0 auto;
}

.nav-link{
text-decoration: none;
display: block;
padding: 8px;

font-family: 'Courgette', cursive;
}

.navstuff{
size: 20px;
display: inline;
  padding-right: 10px;

}

.navstuff1{
font-family: 'Courgette', cursive;

display: inline;
  padding-right: 10px;

font-size: 30px;

}
.h1{
font-family: 'Merienda', cursive;
color: #A7AAAB;
}
.picture1{
  padding-left: 900px;
  width: 300px;
  height: 276px;
padding-top: 100px;
}
.nav{

}
.body{
background-color: white ;
}
.picture2{
  padding-left: 250px;
  width: 300px;
  height: 276px;

padding-top: 100px;
}
.nav-bar{
  list-style-type: none;
      margin: 0;
      padding: 0;
background-color: #FF503A;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.divvy{
  width: 500px;
    padding: 10px;
    border: 5px;
    margin: 0;
    font-family: 'Merienda', cursive;
    font-size:25px;

}
.divvy2{
  width: 900px;
    padding: 10px;
    border: 5px;
    margin: 0;
    font-family: 'Merienda', cursive;
    font-size:20px;

  }
.divvit{

display: inline;
list-style-type: none;
    margin: 0;
    padding: 0;
background-color: #35F7FF;
}
.picture3{
  width: 300px;
  height: 276px;


}


.divvy3{
  width: 1100px;
    padding: 10px;
    border: 5px;
    margin: 0;
    font-family: 'Merienda', cursive;
    font-size:15px;



}
.divvy4{
  width: 1100px;
    padding: 10px;
    border: 5px;
    margin: 0;
    font-family: 'Merienda', cursive;
    font-size:15px;
    padding-top: 100px;


}
p a:hover{
color: red;

}
.dirt{
text-decoration: none;

}
.div-bottom{
background-color: #32CBEB;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Courgette', cursive;
padding-left: 5px;
color: white;
}
